/Lab2.Mobile-FirstGoogleDriveClient/data.txt
/Lab1.GoogleMap/data.txt
/Lab5.Offline-Weather/Part-0/bower_components
/Lab5.Offline-Weather/Part-1/bower_components
/Lab4.MyFirstElement/bower_components
.idea